<div class="footer-item">
    <div class="haut">
        <div class="gauche">
            <h2>TAM Anglais</h2>
            <p>Le site web pour apprendre l'anglais avec simplicité.</p>
        </div>
    </div>

    <hr>

    <div class="bas">
        <div class="gauche">
            © 2023 - Tous droits réservés<br>
            TAM Anglais
        </div>

        <div class="droite">
            <ul class="list">
                <li class="list-item"><a href="#">Mentions légales</a></li>
                <li class="list-item"><a href="#">Conditions générales du site</a></li>
            </ul>
        </div>
    </div>
</div>