<!--=============== HEADER ===============-->
    <nav class="nav container">
        <div class="nav__data">
            <a href="#" class="nav__logo">
                <i class="ri-earth-fill"></i> TAM Anglais
            </a>

            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line nav__toggle-menu"></i>
                <i class="ri-close-line nav__toggle-close"></i>
            </div>
        </div>

        <!--=============== NAV MENU ===============-->
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li>
                    <a href="index.html" class="nav__link">Accueil</a>
                </li>

                <!--=============== DROPDOWN PHP ===============-->
                <li class="dropdown__item">
                    <div href="#" class="nav__link dropdown__button">
                        Cours<i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <div class="dropdown__container">
                        <div class="dropdown__content">
                            <div class="dropdown__group">
                                <div class="dropdown__icon">
                                    <i class="ri-chat-1-fill"></i>
                                </div>

                                <span class="dropdown__title">Le génitif</span>

                                <ul class="dropdown__list">
                                    <li>
                                        <a href="genetif_cours.html" class="dropdown__link">Cours</a>
                                    </li>
                                    <li>
                                        <a href="genetif_exercices.html" class="dropdown__link">Exercices</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="dropdown__group">
                                <div class="dropdown__icon">
                                    <i class="ri-customer-service-2-fill"></i>
                                </div>

                                <span class="dropdown__title">Les modaux</span>

                                <ul class="dropdown__list">
                                    <li>
                                        <a href="#" class="dropdown__link">Cours</a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown__link">Exercices</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="dropdown__group">
                                <div class="dropdown__icon">
                                    <i class="ri-article-fill"></i>
                                </div>

                                <span class="dropdown__title">Les articles</span>

                                <ul class="dropdown__list">
                                    <li>
                                        <a href="#" class="dropdown__link">Cours</a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown__link">Exercices</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="dropdown__group">
                                <div class="dropdown__icon">
                                    <i class="ri-chat-smile-3-fill"></i>
                                </div>

                                <span class="dropdown__title">Les adverbes</span>

                                <ul class="dropdown__list">
                                    <li>
                                        <a href="#" class="dropdown__link">Cours</a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown__link">Exercices</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="dropdown__group">
                                <div class="dropdown__icon">
                                    <i class="ri-edit-fill"></i>
                                </div>

                                <span class="dropdown__title">L'expression de l'avenir</span>

                                <ul class="dropdown__list">
                                    <li>
                                        <a href="#" class="dropdown__link">Cours</a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown__link">Exercices</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!--=============== NAVBAR JS ===============-->
    <script src="./javascript/navbar.js"></script>